<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SNS THREAT DETECTION</title>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
</head>
<body style="background: url('images/bg2.jpg') no-repeat ;
background-size: 100%;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">SNS ALERT DETECTION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header with Background Image -->
<header class="business-header container">  </header>
</br>
<!-- Page Content -->
<div style="background: url('images/bg2.jpg') no-repeat ;
background-size: 100%;">
<div class="container " style="  background: rgba(255, 255, 255, 0.6); padding-bottom:50px;">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">How It Works</h2>
      <p>Some social networking sites allows access  to read tweets/status updates via Application Programming Interfaces
        (APIs) to developers.The information is  provided in json format,generally about user along with other relevant information.</p>
        <p> Currently in this project Tweets are parsed using API and the word <kbd>earthquake</kbd> is used to specify a natural disastor.
          The location of the user or the area described by it is then pin pointed on the google map.
        </p>
      </div>

      <div class="col-sm-4">
        <h2 class="mt-4">Active Sites For Data</h2>
        <a href="https://www.twitter.com">
          <img class="img img-circle" src="images/icon1.png" height="150px" width="150px"></img>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <div class="row" >
      <div class="col-sm-3 col-lg-3">
        <div class="card bg-warning" >
          <img class="card-img-top img img-thumbnail" src="images/map.png" >
          <div class="card-footer">
            <a href="displayonmap"><p  class="text-white text-center "><b>Display on map</b></p></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-lg-3">
        <div class="card bg-info" >
          <img class="card-img-top img img-thumbnail" src="images/list.png" >
          <div class="card-footer">
            <a href="displaytweets"><p  class="text-white text-center"><b>Display Tweets/Statuses</b></p></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-lg-3">
        <div class="card bg-danger" >
          <img class="card-img-top img img-thumbnail" src="images/workinprogress.png" >
          <div class="card-footer">
            <a><p class="text-white text-center"><b>Analyze data</b></p></a>
          </div>
        </div>
      </div>


      <div class="col-sm-3 col-lg-3">
        <div class="card bg-primary" >
          <img class="card-img-top img img-thumbnail" src="images/workinprogress.png" >
          <div class="card-footer">
            <a><p class="text-white text-center"><b>Predictions</b></p></a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
</div>
  <!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Harcourt Butler Technical University</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
